{% extends "AppBundle::index.html.twig" %}

{% block corps %}
       <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Les documents </h3>
            </div> 
               <div class="card-body">
                 <div class="row">  

    <div class="col-xl-4 col-lg-6">
<iframe src="https://onedrive.live.com/embed?cid=CC9A5C863BA6233F&resid=CC9A5C863BA6233F%21347&authkey=AOwDoFAspVHtpfQ" width="165" height="128" frameborder="0" scrolling="no"></iframe>
 </div>
     <div class="col-xl-4 col-lg-6">
<iframe src="https://onedrive.live.com/embed?cid=CC9A5C863BA6233F&resid=CC9A5C863BA6233F%21348&authkey=AAeC6f3tWLqzUZA" width="165" height="128" frameborder="0" scrolling="no"></iframe>
 </div> 
    <div class="col-xl-4 col-lg-6">
<iframe src="https://onedrive.live.com/embed?cid=CC9A5C863BA6233F&resid=CC9A5C863BA6233F%21349&authkey=AKUDF7UTnm_n-y4" width="165" height="128" frameborder="0" scrolling="no"></iframe>
 </div> 
          </div>
        </div>
          </div>
        </div>
      </div>

{% endblock %}