{% extends "AppBundle::index.html.twig" %}

{% block corps %}
       <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Les documents </h3>
            </div> 
               <div class="card-body">
                 <div class="row">  
   <div class="col-xl-4 col-lg-6">
<iframe src="https://onedrive.live.com/embed?cid=CC9A5C863BA6233F&resid=CC9A5C863BA6233F%21175&authkey=ABkFJL6Nd_PiFXQ" width="165" height="128" frameborder="0" scrolling="no"></iframe>
 </div>
    <div class="col-xl-4 col-lg-6">
<iframe src="https://onedrive.live.com/embed?cid=CC9A5C863BA6233F&resid=CC9A5C863BA6233F%21176&authkey=AC-u_0PMPE4s-Q0" width="165" height="128" frameborder="0" scrolling="no"></iframe>
 </div> 
    <div class="col-xl-4 col-lg-6">
<iframe src="https://onedrive.live.com/embed?cid=CC9A5C863BA6233F&resid=CC9A5C863BA6233F%21177&authkey=AJK2_wcu7_2AzQ4" width="165" height="128" frameborder="0" scrolling="no"></iframe>
 </div>
          </div>
        </div>
          </div>
        </div>
      </div>

{% endblock %}